<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dfamodel -->
      <package
            uri="http://www.hu-berlin.de/dfamodel/1.0"
            class="de.hu.berlin.dfa.model.dfamodel.DfamodelPackage"
            genModel="model/dfamodel.genmodel"/>
   </extension>

</plugin>
